#box-primary{
	padding: 10px !important;
}
input.error {
    border: 1px dotted red;
}
label.error{
    width: 100%;
    color: red;
    font-style: italic;
    margin-left: 120px;
    margin-bottom: 5px;
}
#user_form input, #user_form select,
#house_form input, #house_form select,
#society_form input, #society_form select,
#meeting_form input, #meeting_form select, #meeting_form textarea,
#sms_form input, #sms_form select, #sms_form textarea{
	max-width: 61% !important;
}